# Database
POSTGRES_PORT="55432"
DATABASE_URL="postgresql://postgres:postgres@localhost:55432/release_hub?schema=public"
DATABASE_POOL_SIZE="10"
PRISMA_LOG_QUERIES="false"

# Next.js
# NEXT_PUBLIC_API_URL="https://api.example.com"
